<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drawnblue.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.drawnblue.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="roleCode" jdbcType="VARCHAR" property="rolecode" />
    <result column="roleName" jdbcType="VARCHAR" property="rolename" />
    <result column="createDate" jdbcType="DATE" property="createdate" />
    <result column="isStart" jdbcType="INTEGER" property="isstart" />
    <result column="createdBy" jdbcType="VARCHAR" property="createdby" />
  </resultMap>
</mapper>